$black: rgb(30, 30, 30);
$light-black: #5f5f5f;
$red: rgba(255,91,91,1);
$pink: #c252e1;
$purple: #7D59C7;
$blue: #6ecbf5;
$blue-darker: #00a3ff;
$green: #00c735;
$subtle-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

$max-width: 1500px;

.heroContainer {

    max-width: 1500px;
    color: white;
    min-height: 100vh;
    max-height: 100vh;
    // height: 100vh;
    overflow: hidden;
    // background-color: #00a3ff;
    padding: 30px;
    font-family: 'Merriweather', serif;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    position: relative;
    margin: auto;
    div {

        z-index: 3;
        h1 {
            // background-color: $black;
            // color: white;
            color: black;
            background-color: #ffffff;
            // backdrop-filter: blur(20px);

            // text-decoration: underline;
            // text-decoration-thickness: 2px;
            // text-decoration-color: $black;


            padding: 40px;
            margin: 0px;
            // font-size: 70px;
            font-size: 32px;
            border-radius: 5px;
            cursor: default;
            box-shadow: $card-shadow;
            // text-shadow: #5f5f5f;
            // height: 10%;
    
            
        }
    }
    // position: relative;
    .heroPhotoWrapperDesktop {
        // position: fixed;
        z-index: 0;
        // position: relative;
        @media(max-width:499px) {
            display: none;
        }
    }
    .heroPhotoWrapperMobile {
        z-index: 0;
        @media(min-width:500px) {
            display: none;
        }
    }
    // .heroPhotoWrapperWrapper {
    // }
}

#albumsContainer {
    // background-color: #7D59C7;
    padding-top: 50px;
    color: $black;
    // width: 100vw;
    // width: 100%;
    // width: 1500px;
    // margin: auto;
    // width: 200px;
    // background-color: $black;
    h1 {
        font-size: 48px;
        padding: 20px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        // padd
    }
    // width: 100%;
    .albumsGrid {
        display: grid;
        // background-color: #00a3ff;
        // padding: 5px;
        @media(min-width: 700px) {
            // padding: 30px;
            max-width: 1500px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 500px);
            @media(min-width: 1000px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(2, 500px);

            }
            // grid-template-rows: 1fr 1fr 1fr;
            // gap: 30px;
            // margin: 10px;
            
            // $max-width: 1500px;
            margin: auto;
            
        }
        // background-color: $black;
        
        // ga
        ul {
            @media(min-width: 700px) {
                margin: 0px;
                
                display: flex;
                flex-direction: column;
                
            }
            margin: 10px;
            padding: 0px;
            overflow: hidden; // rounds corners of image
            // border-radius: 5px;
            transition: box-shadow .1s;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            
            &:hover {
                // box-shadow: $card-shadow;
                // border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                cursor: pointer;
                z-index: 99;
                // border: 2px white solid;
                // margin: -2px;
            }
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 100px;



            #albumImage {
                margin: auto;
                // height: 100px;
                // width: 100px;
                height: 100%;
                width: 100%;
                // height: 200px;
                // width: 200px;
                position: relative;
                
            }
            
            list-style: none;
            #albumText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                // z-index: 99;
                text-align: center;
                padding: 20px;
                
                h1 {
                    font-family: 'Merriweather', serif;
                    margin: 0px; 
                    padding: 0px;
                    font-size: 20px;
                    font-weight: 500;
                }
                p {
                    font-family: 'Merriweather', serif;
                    // font-family: 'Poppins', sans-serif;
                    // font-family: 'Open-sans', sans-serif;
                    // text-align: justify;
                    overflow: hidden;
                    margin: 0px; 
                    padding: 0px;
                    height: 5ch;
                    font-size: 14px;
                    color: $light-black;
                }
            }
        }
    }
}

#albumContainer {
    // background-color: #00a3ff;
    max-width: 1500px;
    margin: auto;
    
    #nav{
        position: sticky;
        top: 0px;
        z-index: 99;
        background-color: white;
        max-height: 10vh;
        overflow: hidden;
        #home {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            padding: 10px;
            width: 150px;
            cursor: pointer;
            &:hover {
                background-color: black;
                color: white;
                svg {
                    fill: white;
                }
            }
            h1 {
                font-size: 20px;
            }
            svg {
            }
            // background-color: #00a3ff;
            // padding: 20px;
        }
    }
    
    #gridContainer {
        // mawi
        // width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-columns: 1fr;
        // grid-template-rows: minmax(auto, 200px);
        // grid-template-rows: 400px;
        // display: flex;
        // flex-direction: column;
        // grid-template-rows: 200px 200px 200px;
        // grid-template-rows: 33vh 33vh 33vh 33vh;
        grid-template-rows: 50vh 50vh 50vh 50vh;
        // grid-template-rows: repeat(4, 33vh);
        background-color: #c252e1;
        

        .imageWrapper {
            // background-color: #00a3ff;
            position: relative;
            // width: 100%;
            // height: 300px;
            // height: auto;
            // height: 100%;
            // height: 100px;
            // width: 400px;
            &:hover {
                // box-shadow: $card-shadow;
                // border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                cursor: pointer;
                z-index: 50;
                // border: 2px white solid;
                // margin: -2px;
            }
        }
    }
    
}
#blackout {
    // background-color: #00c735;
    background-color: $black;
    // background-color: rgba(30, 30, 30, 0.708);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 50;
    left: 0px;
    top: 0px;
}
#lightboxContainerContainer {
max-width: 3000px;
// overflow: scroll;
margin: auto;
position: relative;
// background-color: yellow;
height: 100vh;
z-index: 99;
// overflow: visible;

#lightboxContainer {
        height: 50vh;
        position: fixed;
        margin: auto;
        z-index: 98;
        h1 {
            background-color: white;
            max-width: 100px;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: #00c735;
            }
            z-index: 999;
        }
        #lightboxGrid {
            background-color: black;
            display: grid;
            grid-template-columns: repeat(20, 1000px);
            // grid-template-columns: repeat(20, 100vw);
            grid-template-rows: 80vh;
            overflow: scroll;
            max-width: 3000px;
            div {
                position: relative;
                width: 100%;
            }
        }
    
    }
}

#lightboxContainer2 {
    z-index: 99;
    position: relative;
    background-color: #00a3ff;
    height: 100vh;
    h1 {
        background-color: white;
        max-width: 100px;
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #00c735;
        }
        z-index: 999;
    }
    .arrowButton {
        background-color: white;
        padding: 20px;
        &:hover {
            background-color: #5f5f5f;
            cursor: pointer;
        }
    }
}